// Main page 2

.main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
// filter or фильтер

.filter {
  display: flex;
  justify-content: center;

  &__elements {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__button {
    padding: 6px 22px;

    border: none;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: #f5f4fa;
    color: $colorText;

    transition: background-color 250ms $cube, color 250ms $cube;

    &:hover,
    &:focus {
      color: #f5f4fa;
      background-color: $colorBlue;
    }
  }
}
